
.tree-line {
  position: absolute;
  left: 19px;
  top: 32px;
  bottom: 0;
  width: 2px;
  background-color: #E5E7EB;
}
.dark .tree-line {
  background-color: #334155;
}
.tree-item:last-child > .tree-line {
  display: none;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details[open] > summary .rotate-icon {
  transform: rotate(90deg);
}
.rotate-icon {
  transition: transform 0.2s ease;
}